@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('res/FantasqueSansMono-Regular-decl.css');

body {
    background-color: rgb(22, 22, 22);
    font-family: 'Fantasque Sans Mono', sans-serif;
    color: white;
    letter-spacing: -0.225px;
    text-align: center;
    font-size: 110%;
}

h1 {
    font-family: 'Marck Script', sans-serif;
    font-size: 365%;
}

a {
    color: blue;
    margin: 0.35em; 
}

.no-text-dec { text-decoration: none; }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    color: lightgray;
    text-decoration: none;
    /* font-style: italic; */
    margin-top: 2.5em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 135px;
    line-height: 2;
}