@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('res/FantasqueSansMono-Regular-decl.css');

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Fantasque Sans Mono', sans-serif;
    color: white;
    letter-spacing: -0.225px;
    text-align: center;
    font-size: 110%;
}

h1 {
    font-family: 'Marck Script', sans-serif;
    font-size: 365%;
}

a {
    color: blue;
    margin: 0.35em; 
}

.langBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 1em;
    margin-right: 1em;
}

#rgbButton {
    position: fixed;
    top: 0.1;
    right: 0;
    margin: 0.5%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.no-text-dec { text-decoration: none; }
.siteBtn {
    font-size: medium;
    margin-top: 0.5em;
    white-space: pre;
}

.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    color: lightgray;
    text-decoration: none;
    font-style: italic;
    margin-top: 2.5em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 135px;
    line-height: 2;
}

#versioncontrol {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5%;
    opacity: 0.325;
    font-style: italic;
}