@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

body {
    background-color: #3C4043;
    color: white;
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
    line-height: 2;
}

#music {
    float: right;
    margin-right: 5%;
    text-decoration: none;
    color: white;
}

.header {
    width: 300px;
    position: relative;
    text-align: left;
} .header img {
    float: left;
    border-radius: 10%;
} .header h1 {
    margin-left: 3em;
    line-height: 250%;
}

.multiple {
    width: min-content;
    line-height: 20%;
    margin: 0 auto;
    display: inline-block;
} .multiple img {
    height: 50px;
    border-radius: 10%;
}

footer {
    color: lightgray;
    opacity: 50%;
    text-decoration: none;
    bottom: 0;
    width: 99%;
    height: 75px;
}

/* Responsiveness */

@media screen and (min-width: 692px) {
    span {
      line-height: 5;
    }
    footer {
        position: absolute;
    }
}

.head {
    display: inline-block;
    margin-top: 5px;
} .head img {
    margin-right: 1em;
    height: 50px;
}

#operatingsystems {
    word-spacing: 3em;
} #operatingsystems img {
    margin-left: 15%;
}