@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

body {
    background-color: #3C4043;
    color: white;
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
    overflow: hidden;
}
h4 { font-weight: lighter; }
iframe { height:280px; }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#music {
    float: right;
    margin-right: 5%;
    text-decoration: none;
    color: white;
}

.header {
    width: 300px;
    position: relative;
    text-align: left;
} .header img {
    float: left;
    border-radius: 10%;
} .header h1 {
    margin-left: 3em;
    line-height: 250%;
}

.multiple {
    width: min-content;
    line-height: 20%;
    margin: 0 auto;
    display: inline-block;
} .multiple img {
    height: 50px;
    border-radius: 10%;
}

footer {
    position: absolute;
    color: lightgray;
    text-decoration: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    line-height: 2;
}
footer text {
    opacity: 50%;
}

/* Responsiveness */

@media screen and (min-width: 692px) {
    span {
      line-height: 5;
    }
}

.head {
    display: inline-block;
    margin-top: 2.5em;
} .head img {
    margin-right: 1em;
    height: 50px;
}
